<html>
    <head>
        <title>After School Activity</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="products.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
            </header>
        <main>
            <div v-if='showProduct'>
                <button v-on:click='showCheckout' //:disabled="checkout">
                    {{cartItemCount}} 
                   <span class="fas fa-cart-plus"></span> Checkout
                  </button>
                  <div class="sort">
                    <p>Sort Options</p><i class="fas fa-sort"></i>
                        <div class="salph">
                        <p>AZ <i class="fas fa-sort-alpha-up"></i></p>
                        <button class="button5" @click="sortProd('title', 'low')">Low ↓</button>
                        <button class="button6" @click="sortProd('title', 'high')">High ↑</button> 
                        </div>
                        <div class="spri"> 
                            <p>Price <i class="fas fa-money-bill-alt"></i></p>
                        <button class="button1" @click="sortProd('price', 'low')">Low ↓</button> 
                        <button class="button2" @click="sortProd('price', 'high')">High ↑</button>
                        </div>  
                        <div class="sra">
                            <p>Location <i class="fas fa-map-marker-alt"></i></p>
                        <button class="button3" @click="sortProd('location', 'low')">Low ↓ </button>
                        <button class="button4" @click="sortProd('location', 'high')">High ↑</button>
                        </div>
                        <div class="sprod">
                            <p>Places <i class="fas fa-warehouse"></i></p>
                        <button class="button5" @click="sortProd('availableInventory', 'low')">Low ↓ </button>
                        <button class="button6" @click="sortProd('availableInventory', 'high')">High ↑</button>
                        </div>
            </div>  
            <div class="container">
                <div class="card" v-for="product in products"> 
                    <h2 class="card-header" v-text="product.title"></h2>
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                    <i class="fas fa-comment-medical"></i>
                    <p class="card-body"  v-html="product.description"></p>
                    <i class="fas fa-tag"></i>
                    <p>Price: {{product.price}}</p>
                    <i class="fas fa-warehouse"></i>
                    <p>Available places to book: {{product.availableInventory - cartCount(product)}}</p>
                    <div>
                        <i class="fas fa-star-half-alt"></i>
                        <p>Rating:</p>
                        <span v-for='n in product.rating'>★</span>
                        <span v-for='n in 5-product.rating'>☆</span>
                    </div>
                    <i class="far fa-clock"></i>
                    <p>Time: {{product.time}}</p>
                    <i class="fas fa-calendar-day"></i>
                    <p>Day: {{product.days}}</p>
                    <i class="fas fa-chalkboard-teacher"></i>
                    <p>Teacher: {{product.teacher}}</p>
                    <i class="fas fa-hourglass-start"></i>
                    <p>Duration: {{product.duration}}</p>
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Location: {{product.location}}</p>
                    <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>
                    <button disabled="disabled" v-else>Add to cart</button>
                    <span v-if='product.availableInventory === cartCount(product)'>No more places are available for booking</span>
                    <span v-else-if="product.availableInventory - cartCount(product) < 4">
                        Remaining places to be booked are: "{{product.availableInventory - cartCount(product)}}"
                    </span>
                    <span v-else>Book Now</span> <i class="fas fa-cart-plus"></i>
                    <figure>
                        <img v-bind:src="product.gif">
                    </figure>
                </div>
            </div>    
        </div>
        <div v-else class="ccontainer">
            <button v-on:click="showCheckout">Home Page</button>
            <div class="ccard">
            <h2>Checkout</h2>
            <p>
                <strong>First Name:</strong>

                <input type="text" v-model="order.firstName"/>
            </p>
            <p>
                <strong>Phone:</strong>
                <input type="number" v-model="order.phone" placeholder="Add your text here..."/>
            </p>
            <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Phone: {{order.phone}}</p>
                <button v-on:click="submitForm">Confrim Booking</button>

            </div>
        </main>
        <script type="text/javascript">
            var webstore = new Vue({
                el: '#app',
                data: {
                    sitename: 'After School Activity',
                    products: products,
                    sort: '',
                    cart: [],
                    showProduct: true,
                    order: {
                        firstName: '',
                        phone: '',
                    },
                },
                methods: {
                    sortProd(key, direction){
                this.sort = `${key} > ${direction}`
                if (direction === 'low') {
                this.products.sort((producta, productb) => producta[key] > productb[key] ? 1: -1)
               } else {
               this.products.sort((producta, productb) => producta[key] < productb[key] ? 1: -1)
               }
               },
               addToCart(products) {
                    this.cart.push(products);
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },

             },
             computed: {
                cartItemCount() {
                    return this.cart.length;
                },
             },
            });
        </script>            
    </body>
</html>